<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>保密</string>
	<string>2,000元以上/月</string>
	<string>3,000元以上/月</string>
	<string>5,000元以上/月</string>
	<string>10,000元以上/月</string>
	<string>20,000元以上/月</string>
	<string>50万以上/年收入</string>
	<string>100万以上/年收入</string>
	<string>500万以上/年收入</string>
	<string>1000万以上/年收入</string>
</array>
</plist>
